# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/
dist/
dist-ssr
*.local

# Misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Torch
torch/
*.pyd
*.lib
*.dll
*.exe

# Build files
*.buildinfo
*.pid
*.seed
*.pid.lock

# Supabase
supabase/.temp
supabase/.wrangler
supabase/functions/.env

# Local Netlify folder
.netlify

# Cache
.cache
.parcel-cache
.eslintcache
.stylelintcache

# Misc
*.pem
.vercel
.turbo
